data/schemas/bcf2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://sourceforge.net/projects/biblatex" xmlns:bcf="https://sourceforge.net/projects/biblatex">
  <xs:element name="controlfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bcf:bibdata"/>
        <xs:element minOccurs="0" name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" ref="bcf:mincrossrefs"/>
              <xs:element minOccurs="0" ref="bcf:debug"/>
              <xs:element minOccurs="0" ref="bcf:inputenc"/>
              <xs:element minOccurs="0" ref="bcf:bibencoding"/>
              <xs:element minOccurs="0" ref="bcf:alphaothers"/>
              <xs:element minOccurs="0" ref="bcf:nonsortprefixes"/>
              <xs:element minOccurs="0" ref="bcf:nonsortdiacritics"/>
            </xs:sequence>
            <xs:attribute name="component" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="biber"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="global"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="bcf:terseinits"/>
              <xs:element ref="bcf:useprefix"/>
              <xs:element ref="bcf:useauthor"/>
              <xs:element ref="bcf:useeditor"/>
              <xs:element ref="bcf:usetranslator"/>
              <xs:element ref="bcf:labelalpha"/>
              <xs:element ref="bcf:labelyear"/>
              <xs:element ref="bcf:singletitle"/>
              <xs:element ref="bcf:uniquename"/>
              <xs:element ref="bcf:maxnames"/>
              <xs:element ref="bcf:minnames"/>
              <xs:element ref="bcf:sorting"/>
              <xs:element ref="bcf:sortlos"/>
              <xs:element ref="bcf:labelname"/>
            </xs:sequence>
            <xs:attribute name="component" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="biblatex"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="global"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" ref="bcf:terseinits"/>
              <xs:element minOccurs="0" ref="bcf:useprefix"/>
              <xs:element minOccurs="0" ref="bcf:useauthor"/>
              <xs:element minOccurs="0" ref="bcf:useeditor"/>
              <xs:element minOccurs="0" ref="bcf:usetranslator"/>
              <xs:element minOccurs="0" ref="bcf:labelalpha"/>
              <xs:element minOccurs="0" ref="bcf:labelyear"/>
              <xs:element minOccurs="0" ref="bcf:singletitle"/>
              <xs:element minOccurs="0" ref="bcf:uniquename"/>
              <xs:element minOccurs="0" ref="bcf:maxnames"/>
              <xs:element minOccurs="0" ref="bcf:minnames"/>
              <xs:element minOccurs="0" ref="bcf:sorting"/>
              <xs:element minOccurs="0" ref="bcf:sortlos"/>
              <xs:element minOccurs="0" ref="bcf:labelname"/>
            </xs:sequence>
            <xs:attribute name="component" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="biblatex"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required" type="bcf:biblatex.entrytypes"/>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="sorting">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="bcf:sort"/>
            </xs:sequence>
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:union memberTypes="bcf:biblatex.entrytypes">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="global"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" ref="bcf:section"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="bcf:datasource"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datasource">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="type" type="xs:NCName">
            <xs:annotation>
              <xs:documentation>only type="file" is supported at this stage</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sort">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="bcf:sortitem"/>
      </xs:sequence>
      <xs:attribute name="order" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortitem">
    <xs:complexType mixed="true">
      <xs:attribute name="final" type="xs:integer"/>
      <xs:attribute name="order" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="bcf:citekey"/>
      </xs:sequence>
      <xs:attribute name="number" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="citekey" type="xs:NCName"/>
  <xs:simpleType name="biblatex.entrytypes">
    <xs:restriction base="xs:token">
      <xs:enumeration value="book"/>
      <xs:enumeration value="article"/>
      <xs:enumeration value="booklet"/>
      <xs:enumeration value="collection"/>
      <xs:enumeration value="inbook"/>
      <xs:enumeration value="incollection"/>
      <xs:enumeration value="proceedings"/>
      <xs:enumeration value="inproceedings"/>
      <xs:enumeration value="manual"/>
      <xs:enumeration value="misc"/>
      <xs:enumeration value="online"/>
      <xs:enumeration value="patent"/>
      <xs:enumeration value="periodical"/>
      <xs:enumeration value="proceedings"/>
      <xs:enumeration value="report"/>
      <xs:enumeration value="thesis"/>
      <xs:enumeration value="unpublished"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="terseinits">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="useprefix">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="useauthor">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="useeditor">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="usetranslator">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="labelalpha">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="labelyear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="singletitle">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="uniquename">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="maxnames" type="xs:integer"/>
  <xs:element name="minnames" type="xs:integer"/>
  <xs:element name="sorting">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="12"/>
        <xs:enumeration value="13"/>
        <xs:enumeration value="21"/>
        <xs:enumeration value="22"/>
        <xs:enumeration value="99"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="sortlos">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="labelname">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="bcf:item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="bcf:name.list">
          <xs:attribute name="order" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="name.list">
    <xs:restriction base="xs:token">
      <xs:enumeration value="shortauthor"/>
      <xs:enumeration value="shorteditor"/>
      <xs:enumeration value="author"/>
      <xs:enumeration value="editor"/>
      <xs:enumeration value="translator"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="mincrossrefs" type="xs:integer"/>
  <xs:element name="debug">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="inputenc" type="xs:NCName"/>
  <xs:element name="bibencoding" type="xs:NCName"/>
  <xs:element name="alphaothers">
    <xs:simpleType>
      <xs:restriction base="xs:normalizedString">
        <xs:pattern value="\S+"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="nonsortprefixes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nonsortdiacritics">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!--
  This is for when biber/biblatex become truly multilingual:
  displaymode = ( displaymode.textual, displaymode.persons, displaymode.locations )
  
  displaymode.textual = element bcf:displaymode {
  type = global | titles | persons | locations
   attribute type { "textual" }, 
   element bcf:mode { 
     attribute precedence { xsd:integer }, display.mode.textual
   }+,
  }
  displaymode.persons = element displaymode {
  type = global | titles | persons | locations
   attribute type { "persons" }, 
   element bcf:mode { 
     attribute precedence { xsd:integer }, display.mode.proper
   }+,
  }
  displaymode.locations = element displaymode {
  type = global | titles | persons | locations
   attribute type { "location" }, 
   element bcf:mode { 
     attribute precedence { xsd:integer }, display.mode.proper
   }+,
  }
  
  display.mode.textual = { "original" | "romanized" | "translated" }
  display.mode.proper  = { "original" | "romanized" | "uniform" }
-->
