data/schemata/bcf.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:bcf="https://sourceforge.net/projects/biblatex" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="bcf:controlfile">
      <attribute name="version">
        <data type="string"/>
      </attribute>
      <element name="bcf:options">
        <attribute name="component">
          <value>biber</value>
        </attribute>
        <attribute name="type">
          <value>global</value>
        </attribute>
        <ref name="bblencoding"/>
        <ref name="bibencoding"/>
        <ref name="debug"/>
        <optional>
          <ref name="displaymode"/>
        </optional>
        <ref name="mincrossrefs"/>
        <ref name="sortcase"/>
        <optional>
          <ref name="sortlocale"/>
        </optional>
        <ref name="sortupper"/>
      </element>
      <element name="bcf:options">
        <attribute name="component">
          <value>biblatex</value>
        </attribute>
        <attribute name="type">
          <value>global</value>
        </attribute>
        <optional>
          <ref name="alphaothers"/>
        </optional>
        <ref name="labelalpha"/>
        <ref name="labelname"/>
        <optional>
          <ref name="labelyear"/>
        </optional>
        <ref name="maxitems"/>
        <ref name="maxnames"/>
        <ref name="minitems"/>
        <ref name="minnames"/>
        <ref name="singletitle"/>
        <optional>
          <ref name="sortalphaothers"/>
        </optional>
        <ref name="sortlos"/>
        <ref name="terseinits"/>
        <ref name="uniquename"/>
        <ref name="useauthor"/>
        <ref name="useeditor"/>
        <ref name="useprefix"/>
        <ref name="usetranslator"/>
      </element>
      <zeroOrMore>
        <element name="bcf:options">
          <attribute name="component">
            <value>biblatex</value>
          </attribute>
          <attribute name="type">
            <ref name="biblatex.entrytypes"/>
          </attribute>
          <optional>
            <ref name="alphaothers"/>
          </optional>
          <optional>
            <ref name="labelalpha"/>
          </optional>
          <optional>
            <ref name="labelname"/>
          </optional>
          <optional>
            <ref name="labelyear"/>
          </optional>
          <optional>
            <ref name="singletitle"/>
          </optional>
          <optional>
            <ref name="skipbib"/>
          </optional>
          <optional>
            <ref name="skiplab"/>
          </optional>
          <optional>
            <ref name="skiplos"/>
          </optional>
          <optional>
            <ref name="sortalphaothers"/>
          </optional>
          <optional>
            <ref name="uniquename"/>
          </optional>
          <optional>
            <ref name="useauthor"/>
          </optional>
          <optional>
            <ref name="useeditor"/>
          </optional>
          <optional>
            <ref name="useprefix"/>
          </optional>
          <optional>
            <ref name="usetranslator"/>
          </optional>
        </element>
      </zeroOrMore>
      <optional>
        <element name="bcf:inheritance">
          <element name="bcf:defaults">
            <attribute name="inherit_all">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
            <attribute name="override_target">
              <choice>
                <value>yes</value>
                <value>no</value>
              </choice>
            </attribute>
            <zeroOrMore>
              <element name="bcf:type_pair">
                <attribute name="source">
                  <choice>
                    <value>all</value>
                    <data type="string"/>
                  </choice>
                </attribute>
                <attribute name="target">
                  <choice>
                    <value>all</value>
                    <data type="string"/>
                  </choice>
                </attribute>
                <optional>
                  <attribute name="inherit_all">
                    <choice>
                      <value>yes</value>
                      <value>no</value>
                    </choice>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="override_target">
                    <choice>
                      <value>yes</value>
                      <value>no</value>
                    </choice>
                  </attribute>
                </optional>
                <empty/>
              </element>
            </zeroOrMore>
          </element>
          <zeroOrMore>
            <element name="bcf:inherit">
              <oneOrMore>
                <element name="bcf:type_pair">
                  <attribute name="source">
                    <choice>
                      <value>all</value>
                      <data type="string"/>
                    </choice>
                  </attribute>
                  <attribute name="target">
                    <choice>
                      <value>all</value>
                      <data type="string"/>
                    </choice>
                  </attribute>
                  <empty/>
                </element>
              </oneOrMore>
              <oneOrMore>
                <element name="bcf:field">
                  <choice>
                    <group>
                      <attribute name="source">
                        <data type="string"/>
                      </attribute>
                      <attribute name="skip">
                        <choice>
                          <value>yes</value>
                          <value>no</value>
                        </choice>
                      </attribute>
                    </group>
                    <group>
                      <attribute name="source">
                        <data type="string"/>
                      </attribute>
                      <attribute name="target">
                        <data type="string"/>
                      </attribute>
                      <optional>
                        <attribute name="override_target">
                          <choice>
                            <value>yes</value>
                            <value>no</value>
                          </choice>
                        </attribute>
                      </optional>
                    </group>
                  </choice>
                  <empty/>
                </element>
              </oneOrMore>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <element name="bcf:sorting">
        <attribute name="type">
          <value>global</value>
        </attribute>
        <oneOrMore>
          <ref name="sort"/>
        </oneOrMore>
      </element>
      <zeroOrMore>
        <element name="bcf:sorting">
          <attribute name="type">
            <ref name="biblatex.entrytypes"/>
          </attribute>
          <oneOrMore>
            <ref name="sort"/>
          </oneOrMore>
        </element>
      </zeroOrMore>
      <optional>
        <element name="bcf:structure">
          <optional>
            <element name="bcf:aliases">
              <oneOrMore>
                <element name="bcf:alias">
                  <choice>
                    <group>
                      <attribute name="type">
                        <value>entrytype</value>
                      </attribute>
                      <element name="bcf:name">
                        <data type="NCName"/>
                      </element>
                      <element name="bcf:realname">
                        <data type="NCName"/>
                      </element>
                      <zeroOrMore>
                        <element name="bcf:field">
                          <attribute name="name">
                            <data type="NCName"/>
                          </attribute>
                          <data type="NCName"/>
                        </element>
                      </zeroOrMore>
                    </group>
                    <group>
                      <attribute name="type">
                        <value>field</value>
                      </attribute>
                      <element name="bcf:name">
                        <data type="NCName"/>
                      </element>
                      <element name="bcf:realname">
                        <data type="NCName"/>
                      </element>
                    </group>
                  </choice>
                </element>
              </oneOrMore>
            </element>
          </optional>
          <oneOrMore>
            <element name="bcf:constraints">
              <element name="bcf:entrytypes">
                <oneOrMore>
                  <element name="bcf:entrytype">
                    <data type="NCName"/>
                  </element>
                </oneOrMore>
              </element>
              <oneOrMore>
                <element name="bcf:constraint">
                  <choice>
                    <group>
                      <attribute name="type">
                        <choice>
                          <value>mandatory</value>
                          <value>optional</value>
                        </choice>
                      </attribute>
                      <oneOrMore>
                        <element name="bcf:field">
                          <optional>
                            <attribute name="datatype">
                              <choice>
                                <value>integer</value>
                                <value>iso8601</value>
                              </choice>
                            </attribute>
                          </optional>
                          <optional>
                            <attribute name="rangemin">
                              <data type="int"/>
                            </attribute>
                          </optional>
                          <optional>
                            <attribute name="rangemax">
                              <data type="int"/>
                            </attribute>
                          </optional>
                          <optional>
                            <attribute name="conflict">
                              <value>suppress</value>
                            </attribute>
                          </optional>
                          <data type="NCName"/>
                        </element>
                      </oneOrMore>
                    </group>
                    <group>
                      <attribute name="type">
                        <value>conditional</value>
                      </attribute>
                      <element name="bcf:antecedent">
                        <attribute name="quant">
                          <choice>
                            <value>all</value>
                            <value>one</value>
                            <value>none</value>
                          </choice>
                        </attribute>
                        <oneOrMore>
                          <element name="bcf:field">
                            <optional>
                              <attribute name="datatype">
                                <choice>
                                  <value>integer</value>
                                  <value>iso8601</value>
                                </choice>
                              </attribute>
                            </optional>
                            <optional>
                              <attribute name="rangemin">
                                <data type="int"/>
                              </attribute>
                            </optional>
                            <optional>
                              <attribute name="rangemax">
                                <data type="int"/>
                              </attribute>
                            </optional>
                            <optional>
                              <attribute name="conflict">
                                <value>suppress</value>
                              </attribute>
                            </optional>
                            <data type="NCName"/>
                          </element>
                        </oneOrMore>
                      </element>
                      <element name="bcf:consequent">
                        <attribute name="quant">
                          <choice>
                            <value>all</value>
                            <value>one</value>
                            <value>none</value>
                          </choice>
                        </attribute>
                        <oneOrMore>
                          <element name="bcf:field">
                            <optional>
                              <attribute name="datatype">
                                <choice>
                                  <value>integer</value>
                                  <value>iso8601</value>
                                </choice>
                              </attribute>
                            </optional>
                            <optional>
                              <attribute name="rangemin">
                                <data type="int"/>
                              </attribute>
                            </optional>
                            <optional>
                              <attribute name="rangemax">
                                <data type="int"/>
                              </attribute>
                            </optional>
                            <optional>
                              <attribute name="conflict">
                                <value>suppress</value>
                              </attribute>
                            </optional>
                            <data type="NCName"/>
                          </element>
                        </oneOrMore>
                      </element>
                    </group>
                  </choice>
                </element>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <oneOrMore>
        <ref name="secspec"/>
      </oneOrMore>
    </element>
  </start>
  <define name="sort">
    <oneOrMore>
      <element name="bcf:sort">
        <attribute name="order">
          <data type="integer"/>
        </attribute>
        <optional>
          <attribute name="pass">
            <choice>
              <value>label</value>
              <value>final</value>
            </choice>
          </attribute>
        </optional>
        <oneOrMore>
          <element name="bcf:sortitem">
            <attribute name="order">
              <data type="integer"/>
            </attribute>
            <optional>
              <attribute name="final">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="substring_side">
                <choice>
                  <value>left</value>
                  <value>right</value>
                </choice>
              </attribute>
            </optional>
            <optional>
              <attribute name="substring_width">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="pad_side">
                <choice>
                  <value>left</value>
                  <value>right</value>
                </choice>
              </attribute>
            </optional>
            <optional>
              <attribute name="pad_width">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="pad_char">
                <data type="string">
                  <param name="minLength">1</param>
                  <param name="maxLength">1</param>
                </data>
              </attribute>
            </optional>
            <optional>
              <attribute name="sort_direction">
                <choice>
                  <value>ascending</value>
                  <value>descending</value>
                </choice>
              </attribute>
            </optional>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </oneOrMore>
  </define>
  <define name="secspec">
    <optional>
      <element name="bcf:bibdata">
        <attribute name="section">
          <data type="integer"/>
        </attribute>
        <zeroOrMore>
          <element name="bcf:datasource">
            <attribute name="type">
              <value>file</value>
            </attribute>
            <optional>
              <attribute name="format">
                <choice>
                  <value>bibtex</value>
                  <value>biblatexml</value>
                </choice>
              </attribute>
            </optional>
            <data type="NCName"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <element name="bcf:section">
      <attribute name="number">
        <data type="integer"/>
      </attribute>
      <zeroOrMore>
        <element name="bcf:citekey">
          <data type="string"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="biblatex.entrytypes">
    <choice>
      <value>book</value>
      <value>article</value>
      <value>booklet</value>
      <value>collection</value>
      <value>inbook</value>
      <value>incollection</value>
      <value>proceedings</value>
      <value>inproceedings</value>
      <value>manual</value>
      <value>misc</value>
      <value>online</value>
      <value>patent</value>
      <value>periodical</value>
      <value>proceedings</value>
      <value>report</value>
      <value>thesis</value>
      <value>unpublished</value>
    </choice>
  </define>
  <define name="terseinits">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>terseinits</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="useprefix">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>useprefix</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="useauthor">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>useauthor</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="useeditor">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>useeditor</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="usetranslator">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>usetranslator</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="labelalpha">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>labelalpha</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="labelyear">
    <element name="bcf:option">
      <attribute name="type">
        <value>multivalued</value>
      </attribute>
      <element name="bcf:key">
        <value>labelyear</value>
      </element>
      <oneOrMore>
        <element name="bcf:value">
          <attribute name="order">
            <data type="integer"/>
          </attribute>
          <ref name="year.list"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="singletitle">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>singletitle</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="skipbib">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>skipbib</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="skiplab">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>skiplab</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="skiplos">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>skiplos</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="uniquename">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>uniquename</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="maxitems">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>maxitems</value>
      </element>
      <element name="bcf:value">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="maxnames">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>maxnames</value>
      </element>
      <element name="bcf:value">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="minitems">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>minitems</value>
      </element>
      <element name="bcf:value">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="minnames">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>minnames</value>
      </element>
      <element name="bcf:value">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="sortlos">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>sortlos</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="labelname">
    <element name="bcf:option">
      <attribute name="type">
        <value>multivalued</value>
      </attribute>
      <element name="bcf:key">
        <value>labelname</value>
      </element>
      <oneOrMore>
        <element name="bcf:value">
          <attribute name="order">
            <data type="integer"/>
          </attribute>
          <ref name="name.list"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="name.list">
    <choice>
      <value>shortauthor</value>
      <value>shorteditor</value>
      <value>author</value>
      <value>editor</value>
      <value>translator</value>
    </choice>
  </define>
  <define name="year.list">
    <choice>
      <value>year</value>
      <value>origyear</value>
      <value>eventyear</value>
      <value>urlyear</value>
    </choice>
  </define>
  <define name="mincrossrefs">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>mincrossrefs</value>
      </element>
      <element name="bcf:value">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="debug">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>debug</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="wrapline">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>wrapline</value>
      </element>
      <element name="bcf:value">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="bblencoding">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>bblencoding</value>
      </element>
      <element name="bcf:value">
        <data type="NCName"/>
      </element>
    </element>
  </define>
  <define name="bibencoding">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>bibencoding</value>
      </element>
      <element name="bcf:value">
        <data type="NCName"/>
      </element>
    </element>
  </define>
  <define name="sortcase">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>sortcase</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="alphaothers">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>alphaothers</value>
      </element>
      <element name="bcf:value">
        <data type="normalizedString">
          <param name="pattern">\S+</param>
        </data>
      </element>
    </element>
  </define>
  <!-- This is xsd:language but also allows underscore separators -->
  <define name="sortlocale">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>sortlocale</value>
      </element>
      <element name="bcf:value">
        <data type="normalizedString">
          <param name="pattern">([a-zA-Z]{2}|[iI][\-_][a-zA-Z]+|[xX][\-_][a-zA-Z]{1,8})([\-_][a-zA-Z]{1,8})*</param>
        </data>
      </element>
    </element>
  </define>
  <define name="sortupper">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>sortupper</value>
      </element>
      <element name="bcf:value">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="sortalphaothers">
    <element name="bcf:option">
      <attribute name="type">
        <value>singlevalued</value>
      </attribute>
      <element name="bcf:key">
        <value>sortalphaothers</value>
      </element>
      <element name="bcf:value">
        <data type="normalizedString">
          <param name="pattern">\S+</param>
        </data>
      </element>
    </element>
  </define>
  <define name="nonsortprefixes">
    <a:documentation>these are perl regexes</a:documentation>
    <element name="bcf:nonsortprefixes">
      <oneOrMore>
        <element name="bcf:item">
          <text/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="nonsortdiacritics">
    <element name="bcf:nonsortdiacritics">
      <oneOrMore>
        <element name="bcf:item">
          <text/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!-- This is for setting the display mode of non-roman scripts -->
  <define name="displaymode">
    <element name="displaymode">
      <choice>
        <value>original</value>
        <value>romanized</value>
        <value>translated</value>
        <value>uniform</value>
      </choice>
    </element>
  </define>
</grammar>
