data/schemata/config.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="config">
      <interleave>
        <optional>
          <element name="collate">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="collate_options">
            <oneOrMore>
              <element name="option">
                <interleave>
                  <attribute name="name"/>
                  <attribute name="value"/>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <!--
            Can't specify the config file location in the config file ...
             element configfile          { text }? & 
          -->
          <element name="convert_control">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="graph">
            <choice>
              <text/>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="decodecharsset">
            <choice>
              <value>base</value>
              <value>full</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="debug">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="fastsort">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="fixinits">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <!--
            Would never want this in the config file
             element help                { "0" | "1" }? &
          -->
          <ref name="inheritance"/>
        </optional>
        <optional>
          <element name="input_encoding">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="listsep">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="logfile">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="mincrossrefs">
            <data type="unsignedByte"/>
          </element>
        </optional>
        <optional>
          <element name="namesep">
            <text/>
          </element>
        </optional>
        <optional>
          <!--
            Can't specify not to use a config file in the config file ...
             element noconf              { "0" | "1" }? &
          -->
          <element name="nodieonerror">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="nolog">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="nosort">
            <oneOrMore>
              <element name="option">
                <interleave>
                  <attribute name="name"/>
                  <attribute name="value"/>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <!-- nosort specification -->
          <element name="nosorts">
            <oneOrMore>
              <element name="nosort">
                <attribute name="field">
                  <data type="string"/>
                </attribute>
                <attribute name="value">
                  <data type="string"/>
                </attribute>
                <empty/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="nostdmacros">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="onlylog">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="others_string">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="output_directory">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="output_encoding">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="output_file">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="output_safechars">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="output_safecharsset">
            <choice>
              <value>base</value>
              <value>full</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="quiet">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="recodedata">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="sortcase">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <ref name="sorting"/>
        </optional>
        <optional>
          <element name="sortlocale">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="sortupper">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="sourcemap">
            <oneOrMore>
              <element name="maps">
                <attribute name="datatype">
                  <choice>
                    <value>bibtex</value>
                    <value>biblatexml</value>
                    <value>ris</value>
                    <value>zoterordfxml</value>
                    <value>endnotexml</value>
                  </choice>
                </attribute>
                <optional>
                  <attribute name="map_overwrite">
                    <choice>
                      <value>0</value>
                      <value>1</value>
                    </choice>
                  </attribute>
                </optional>
                <oneOrMore>
                  <ref name="map"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="ssl-nointernalca">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="ssl-noverify-host">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="tool">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="tool_align">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="tool_datatype">
            <value>bibtex</value>
          </element>
        </optional>
        <optional>
          <element name="tool_fieldcase">
            <choice>
              <value>upper</value>
              <value>lower</value>
              <value>title</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="tool_indent">
            <data type="unsignedByte"/>
          </element>
        </optional>
        <optional>
          <element name="tool_resolve">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="trace">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="validate_config">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="validate_control">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="validate_structure">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <!--
            Meaningless in the config file
             element version              { "0" | "1" }? &
          -->
          <element name="wraplines">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
      </interleave>
    </element>
  </start>
  <define name="inheritance">
    <!-- Cross-reference inheritance specifications -->
    <element name="inheritance">
      <!-- Defaults -->
      <element name="defaults">
        <!-- Whether to inherit all fields -->
        <attribute name="inherit_all">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
        <!-- Should we overwrite the target field if it exists? -->
        <attribute name="override_target">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
        <zeroOrMore>
          <!-- Default inherit_all and override_target settings for entrytype source/target pairs -->
          <element name="type_pair">
            <attribute name="source">
              <choice>
                <value>*</value>
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </choice>
            </attribute>
            <attribute name="target">
              <choice>
                <value>*</value>
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </choice>
            </attribute>
            <optional>
              <attribute name="inherit_all">
                <choice>
                  <value>true</value>
                  <value>false</value>
                </choice>
              </attribute>
            </optional>
            <optional>
              <attribute name="override_target">
                <choice>
                  <value>true</value>
                  <value>false</value>
                </choice>
              </attribute>
            </optional>
            <empty/>
          </element>
        </zeroOrMore>
      </element>
      <zeroOrMore>
        <!-- An inheritance specification -->
        <element name="inherit">
          <oneOrMore>
            <!-- applies to these pairs of source/target entrytypes -->
            <element name="type_pair">
              <attribute name="source">
                <choice>
                  <value>*</value>
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </choice>
              </attribute>
              <attribute name="target">
                <choice>
                  <value>*</value>
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </choice>
              </attribute>
              <empty/>
            </element>
          </oneOrMore>
          <oneOrMore>
            <!-- and here are the field specifications -->
            <element name="field">
              <choice>
                <!--
                  either a "skip this field" specification
                  so we can say inherit all except certain fields OR ...
                -->
                <group>
                  <attribute name="source">
                    <data type="string"/>
                  </attribute>
                  <attribute name="skip">
                    <choice>
                      <value>true</value>
                      <value>false</value>
                    </choice>
                  </attribute>
                </group>
                <!-- ... a source and target field with an optional override attribute -->
                <group>
                  <attribute name="source">
                    <data type="string">
                      <param name="minLength">1</param>
                    </data>
                  </attribute>
                  <attribute name="target">
                    <data type="string">
                      <param name="minLength">1</param>
                    </data>
                  </attribute>
                  <optional>
                    <attribute name="override_target">
                      <choice>
                        <value>true</value>
                        <value>false</value>
                      </choice>
                    </attribute>
                  </optional>
                </group>
              </choice>
              <empty/>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="map">
    <element name="map">
      <optional>
        <attribute name="map_overwrite">
          <choice>
            <value>0</value>
            <value>1</value>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <element name="per_datasource">
          <data type="string">
            <param name="minLength">1</param>
          </data>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="per_type">
          <data type="string">
            <param name="minLength">1</param>
          </data>
        </element>
      </zeroOrMore>
      <oneOrMore>
        <element name="map_step">
          <choice>
            <attribute name="map_entry_null">
              <value>1</value>
            </attribute>
            <group>
              <attribute name="map_type_source">
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </attribute>
              <optional>
                <attribute name="map_type_target">
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </attribute>
              </optional>
              <optional>
                <attribute name="map_final">
                  <value>1</value>
                </attribute>
              </optional>
            </group>
            <group>
              <attribute name="map_field_source">
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </attribute>
              <optional>
                <attribute name="map_field_target">
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </attribute>
              </optional>
              <optional>
                <attribute name="map_final">
                  <value>1</value>
                </attribute>
              </optional>
              <optional>
                <attribute name="map_match">
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </attribute>
              </optional>
              <optional>
                <attribute name="map_replace">
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </attribute>
              </optional>
            </group>
            <group>
              <attribute name="map_field_set">
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </attribute>
              <optional>
                <attribute name="map_append">
                  <value>1</value>
                </attribute>
              </optional>
              <choice>
                <attribute name="map_null">
                  <value>1</value>
                </attribute>
                <attribute name="map_origfield">
                  <value>1</value>
                </attribute>
                <attribute name="map_origfieldval">
                  <value>1</value>
                </attribute>
                <attribute name="map_origentrytype">
                  <value>1</value>
                </attribute>
                <attribute name="map_field_value">
                  <data type="string">
                    <param name="minLength">1</param>
                  </data>
                </attribute>
              </choice>
            </group>
          </choice>
          <empty/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="sorting">
    <element name="sorting">
      <oneOrMore>
        <!-- presort default strings for different entry types -->
        <element name="presort">
          <optional>
            <attribute name="type"/>
          </optional>
          <text/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <!-- excludes of certain fields for sorting for specified types -->
        <element name="sortexclusion">
          <attribute name="type"/>
          <oneOrMore>
            <element name="exclusion">
              <text/>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
      <oneOrMore>
        <ref name="sort"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sort">
    <oneOrMore>
      <!-- sort specification -->
      <element name="sort">
        <!-- order of this specification in the set of all sort specifications -->
        <attribute name="order">
          <data type="integer"/>
        </attribute>
        <optional>
          <!-- Should we stop generating sorting information after this item? -->
          <attribute name="final">
            <value>1</value>
          </attribute>
        </optional>
        <optional>
          <!-- Sort ascending or descending -->
          <attribute name="sort_direction">
            <choice>
              <value>ascending</value>
              <value>descending</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <!-- Sort case sensitive or not? -->
          <attribute name="sortcase">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <!-- Sort upper before lower? -->
          <attribute name="sortupper">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <oneOrMore>
          <!-- A sort item specification - a field or pseudo-field to get sort information from -->
          <element name="sortitem">
            <!-- order of this item in the set of all other item specifications -->
            <attribute name="order">
              <data type="integer"/>
            </attribute>
            <optional>
              <!-- Just use a part of the item information for sorting? -->
              <attribute name="substring_side">
                <choice>
                  <value>left</value>
                  <value>right</value>
                </choice>
              </attribute>
            </optional>
            <optional>
              <attribute name="substring_width">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <!-- Pad the item information when sorting with it? -->
              <attribute name="pad_side">
                <choice>
                  <value>left</value>
                  <value>right</value>
                </choice>
              </attribute>
            </optional>
            <optional>
              <attribute name="pad_width">
                <data type="integer"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="pad_char">
                <data type="string">
                  <param name="minLength">1</param>
                  <param name="maxLength">1</param>
                </data>
              </attribute>
            </optional>
            <optional>
              <attribute name="form">
                <choice>
                  <value>original</value>
                  <value>translated</value>
                  <value>romanised</value>
                  <value>uniform</value>
                </choice>
              </attribute>
            </optional>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </oneOrMore>
  </define>
</grammar>
