data/schemata/config.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="config">
      <interleave>
        <optional>
          <element name="bibencoding">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="bblencoding">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="bblsafechars">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="bblsafecharsset">
            <choice>
              <value>base</value>
              <value>full</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="collate">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="collate_options">
            <oneOrMore>
              <element name="option">
                <interleave>
                  <attribute name="name"/>
                  <attribute name="value"/>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <!--
            Can't specify the config file location in the config file ...
             element configfile          { text }? & 
          -->
          <element name="convert_control">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="decodecharsset">
            <choice>
              <value>base</value>
              <value>full</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="debug">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="fastsort">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <!--
            Would never want this in the config file
             element help                { "0" | "1" }? &
          -->
          <element name="mincrossrefs">
            <data type="unsignedByte"/>
          </element>
        </optional>
        <optional>
          <element name="logfile">
            <text/>
          </element>
        </optional>
        <optional>
          <!--
            Can't specify not to use a config file in the config file ...
             element noconf              { "0" | "1" }? &
          -->
          <element name="nodieonerror">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="nolog">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="nosort">
            <oneOrMore>
              <element name="option">
                <interleave>
                  <attribute name="name"/>
                  <attribute name="value"/>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="nostdmacros">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="onlylog">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="outfile">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="output_directory">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="quiet">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="sortcase">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="sortlocale">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="sourcemap">
            <oneOrMore>
              <element name="maps">
                <attribute name="datatype">
                  <choice>
                    <value>bibtex</value>
                    <value>biblatexml</value>
                    <value>ris</value>
                    <value>zoterordfxml</value>
                    <value>endnotexml</value>
                  </choice>
                </attribute>
                <attribute name="map_overwrite">
                  <choice>
                    <value>0</value>
                    <value>1</value>
                  </choice>
                </attribute>
                <oneOrMore>
                  <element name="map">
                    <optional>
                      <attribute name="map_overwrite">
                        <choice>
                          <value>0</value>
                          <value>1</value>
                        </choice>
                      </attribute>
                    </optional>
                    <choice>
                      <group>
                        <attribute name="maptype">
                          <value>entrytype</value>
                        </attribute>
                        <zeroOrMore>
                          <element name="per_datasource">
                            <data type="string">
                              <param name="minLength">1</param>
                            </data>
                          </element>
                        </zeroOrMore>
                        <oneOrMore>
                          <element name="map_pair">
                            <attribute name="map_source">
                              <data type="string">
                                <param name="minLength">1</param>
                              </data>
                            </attribute>
                            <optional>
                              <attribute name="map_target">
                                <data type="string">
                                  <param name="minLength">1</param>
                                </data>
                              </attribute>
                            </optional>
                            <empty/>
                          </element>
                        </oneOrMore>
                        <zeroOrMore>
                          <element name="also_set">
                            <attribute name="map_field">
                              <data type="string">
                                <param name="minLength">1</param>
                              </data>
                            </attribute>
                            <choice>
                              <attribute name="map_value">
                                <data type="string">
                                  <param name="minLength">1</param>
                                </data>
                              </attribute>
                              <attribute name="map_null">
                                <value>1</value>
                              </attribute>
                              <attribute name="map_origentrytype">
                                <value>1</value>
                              </attribute>
                            </choice>
                            <empty/>
                          </element>
                        </zeroOrMore>
                      </group>
                      <group>
                        <attribute name="maptype">
                          <value>field</value>
                        </attribute>
                        <zeroOrMore>
                          <element name="per_datasource">
                            <data type="string">
                              <param name="minLength">1</param>
                            </data>
                          </element>
                        </zeroOrMore>
                        <zeroOrMore>
                          <element name="per_type">
                            <data type="string">
                              <param name="minLength">1</param>
                            </data>
                          </element>
                        </zeroOrMore>
                        <oneOrMore>
                          <element name="map_pair">
                            <attribute name="map_source">
                              <data type="string">
                                <param name="minLength">1</param>
                              </data>
                            </attribute>
                            <choice>
                              <attribute name="map_target">
                                <data type="string">
                                  <param name="minLength">1</param>
                                </data>
                              </attribute>
                              <group>
                                <optional>
                                  <attribute name="map_target">
                                    <data type="string">
                                      <param name="minLength">1</param>
                                    </data>
                                  </attribute>
                                </optional>
                                <attribute name="map_match">
                                  <data type="string">
                                    <param name="minLength">1</param>
                                  </data>
                                </attribute>
                                <attribute name="map_replace">
                                  <data type="string">
                                    <param name="minLength">1</param>
                                  </data>
                                </attribute>
                              </group>
                              <attribute name="map_null">
                                <value>1</value>
                              </attribute>
                              <attribute name="map_origfield">
                                <value>1</value>
                              </attribute>
                            </choice>
                            <empty/>
                          </element>
                        </oneOrMore>
                        <zeroOrMore>
                          <element name="also_set">
                            <attribute name="map_field">
                              <data type="string">
                                <param name="minLength">1</param>
                              </data>
                            </attribute>
                            <choice>
                              <attribute name="map_value">
                                <data type="string">
                                  <param name="minLength">1</param>
                                </data>
                              </attribute>
                              <attribute name="map_null">
                                <value>1</value>
                              </attribute>
                              <attribute name="map_origfield">
                                <value>1</value>
                              </attribute>
                            </choice>
                            <empty/>
                          </element>
                        </zeroOrMore>
                      </group>
                    </choice>
                  </element>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="sortupper">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="trace">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="validate_config">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="validate_control">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="validate_structure">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
        <optional>
          <!--
            Meaningless in the config file
             element version              { "0" | "1" }? &
          -->
          <element name="wraplines">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </element>
        </optional>
      </interleave>
    </element>
  </start>
</grammar>
