data/schemata/dcf.rnc

namespace dcf = "https://sourceforge.net/projects/biblatex-biber"

start =
  element dcf:driver-control {
    attribute driver { "bibtex" | "biblatexml" | "ris" },
    element dcf:entry-types {
      element dcf:entry-type {
        attribute name { xsd:string },
        element dcf:aliasof { xsd:string },
        element dcf:alsoset {
          attribute target { xsd:string },
          attribute value { xsd:string },
          empty
        }*
      }+
    }*,
    element dcf:fields {
      element dcf:field {
        attribute name { xsd:string },
        (attribute handler { xsd:string } |
          attribute aliasof { xsd:string }),
        empty
      }+
    }
  }
