data/schemata/texmap.rnc

start =
  element texmap {
    element accents {
      attribute set { "base" | "full" },
      map+
    },
    element wordmacros {
      attribute set { "base" | "full" },
      map+
    }+,
    element diacritics {
      attribute set { "base" | "full" },
      map+
    }+,
    element punctuation {
      attribute set { "base" | "full" },
      map+
    }+,
    element symbols {
      attribute set { "base" | "full" },
      map+
    }+,
    element negatedsymbols {
      attribute set { "base" | "full" },
      map+
    }+,
    element superscripts {
      attribute set { "base" | "full" },
      map+
    }+,
    element cmdsuperscripts {
      attribute set { "base" | "full" },
      map+
    }+,
    element dings {
      attribute set { "base" | "full" },
      map+
    }+,
    element greek {
      attribute set { "base" | "full" },
      map+
    }+,
    element encode_exclude {
      element char { text }+
    }
  }


map = element map {
  element from {
    attribute preferred {"1"}?,
    text
  },
  element to {
    attribute hex { text },
    text }
}
